* {
	padding: 0;
	margin: 0;
	border: 0;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

input,
button,
textarea {
	font-family: inherit;
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

a,
a:visited {
	text-decoration: none;
}

a {
	color: inherit;
}

button {
	cursor: pointer;
}

img {
	vertical-align: top;
}

/* ------------------------------------------------- */

html {
	scroll-behavior: smooth;
}

body {
	font-family: roboto, sans-serif;
}

.section-title {
	margin-bottom: 25px;

	font-family: Forum;
	font-size: 80px;
	line-height: 90px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #9d8665;
}

.section-title--dark {
	color: #ffffff;
}

.title-decoration {
	position: relative;
}

.title-decoration::after {
	content: '';
	position: absolute;
	top: 115px;
	left: 0;

	height: 3px;
	width: 100%;

	background-color: #710707;
}

.wrapper {
}

.main {
}

.section {
}

.dark-section {
	background-color: #030303;
}

.video-section {
}

.footer {
}

/* Header */

.header {
	background-color: #030303; /* temporary */
	color: #fff;
}

.container {
	width: 1440px;
	margin: 0 auto;
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}

.header__logo {
	padding-left: 74px;

	font-family: Forum;
	font-size: 28px;
	letter-spacing: 5px;
	text-transform: uppercase;

	background: url("assets/svg/logo.svg") no-repeat;
}

.header__menu {
	width: 775px;
}

.header__menu-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu-item {
}

.header__menu-link {
	font-weight: 200;
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 100%;
	transition: color 0.3s;
}

.header__menu-link:hover {
	color: #9d8665;
}

.header__menu-link:active {
	color: #7e6c51;
}

/* Welcome section */

.welcome-row {
	position: relative;

	display: flex;
	min-height: 810px;
}

.welcome-body {
	z-index: 2;

	max-width: 600px;
	margin-top: 150px;

	color: #ffffff;
}

.welcome-subtitle {
	margin-bottom: 75px;

	font-weight: 300;
	font-size: 28px;
	letter-spacing: 2px;
}

.welcome-link {
	display: inline-block;
	width: 360px;
	height: 75px;

	font-weight: 300;
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 75px;
	text-align: center;

	border-radius: 10px;
	background-color: #710707;

	transition: background-color 0.3s;
}

	.welcome-link:hover {
		background-color: #9d8665;
	}

.welcome-slider {
	position: absolute;
	right: 0;
	top: 0;
}

.welcome-slider::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.welcome-slider__slider {
}

.welcome-slider__item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.welcome-slider__pagination {
	position: absolute;
	bottom: -60px;
	right: 0;
	z-index: 1;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 75px;

	color: #ffffff;
	background-color: #030303;
}

.welcome-slider__position {
	display: flex;
	justify-content: space-between;
	width: 75px;
	margin-right: 55px;

	font-weight: 400;
	font-size: 22px;
	line-height: 40px;
	text-transform: uppercase;
}

.welcome-slider__dots {
	display: flex;
	justify-content: space-between;
	margin-right: 35px;
}

.welcome-slider__dot {
	width: 16px;
	height: 16px;
	margin-right: 25px;

	background-color: #fff;

	transition: background-color 0.3s;
}

.welcome-slider__dot:hover {
	background-color: #9D8665;
}

.welcome-slider__arrows {
}

.arrow {
	width: 30px;
	height: 10px;

	transition: filter 0.3s;
}

.arrow:hover {
	filter: invert(58%) sepia(37%) saturate(323%) hue-rotate(356deg) brightness(86%) contrast(86%);
}

.welcome-slider__arrow-prev {
	margin-right: 14px;

	background: url(assets/svg/arrows/1.svg) no-repeat;
}
.welcome-slider__arrow-next {
	background: url(assets/svg/arrows/2.svg) no-repeat;
}

.active-btn {
	background-color: #d2b183;
}

/* Visiting Section */

.visiting-title {
	margin: 75px 0 100px;
}

.visiting-cards__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 75px 60px;
	margin-bottom: 75px;
}

.visiting-cards__item {
}

.card-item {
	display: block;
}

.card-item__img {
	margin-bottom: 25px;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.card-item__title {
	position: relative;

	margin-bottom: 22px;

	font-family: Forum;
	font-size: 32px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.card-item__title::after {
	content: '';
	position: absolute;
	top: 45px;
	left: 0;

	height: 2px;
	width: 70%;

	background-color: #710707;

	transition: width 0.3s;
}

.card-item:hover .card-item__title::after {
	width: 100%;
}

.card-item__text p {
	margin-bottom: 10px;

	font-weight: 200;
	font-size: 22px;
}

.card-item__text p:last-child {
	margin-bottom: 0;

	font-size: 18px;
}

/* explore section */

.explore__row {
	display: flex;
}

.explore__body {
	margin-right: 60px;

	color: #fff;
}

.explore__title {
	margin: 75px 0 100px;
}

.explore__text {
	font-size: 22px;
	font-weight: 300;
	line-height: 38.5px;
}

.explore__text p {
	margin-bottom: 25px;
}

.explore__text span {
	color: #caaa7d;
}

.explore__text p:last-child {
	margin-bottom: 0;
}

.explore__img-block {
	position: relative;

	margin: 90px 0 75px;
}

.explore__before-container {
	position: absolute;
	z-index: 1;

	width: 61.111%;
	height: 100%;
	overflow: hidden;
}

}

.explore__img-block--after {

}

.explore__shutter {
	position: absolute;
	top: 0;
	left: 61.111%;
	z-index: 1;

	cursor: pointer;
	transform: translateX(-50%);
}

