* {
	padding: 0;
	margin: 0;
	border: 0;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

input,
button,
textarea {
	font-family: inherit;
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

a,
a:visited {
	text-decoration: none;
}

a {
	color: inherit;
}

button {
	cursor: pointer;
}

img {
	vertical-align: top;
}

/* ------------------------------------------------- */

html {
	scroll-behavior: smooth;
}

body {
	font-family: roboto, sans-serif;
}

	.section-title {
		margin-bottom: 100px;

		font-family: Forum;
		font-size: 80px;
		line-height: 90px;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: #9d8665;
	}

.section-title--small-margin {
	margin-bottom: 75px;
}

.section-title--dark {
	color: #ffffff;
}

.title-decoration {
	position: relative;
}

.title-decoration::after {
	content: '';
	position: absolute;
	top: 115px;
	left: 0;

	height: 3px;
	width: 100%;

	background-color: #710707;
}

.wrapper {
}

.main {
}

.section {
	padding: 75px 0;
}

.dark-section {
	background-color: #030303;
	color: #fff;
}

/* Header */

.header {
	background-color: #030303; /* temporary */
	color: #fff;
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}

.container {
	width: 1440px;
	margin: 0 auto;
}

.logo {
	padding: 2px 0 0 74px;

	font-family: Forum;
	font-size: 28px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #ffffff;
	background: url("assets/svg/logo.svg") no-repeat;

	transition: filter 0.3s;
}

.logo:hover {
	filter: invert(58%) sepia(37%) saturate(323%) hue-rotate(356deg) brightness(86%) contrast(86%);
}

.header__menu {
	width: 775px;
}

.header__menu-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu-item {
}

.header__menu-link {
	font-weight: 200;
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 100%;
	transition: color 0.3s;
}

.header__menu-link:hover {
	color: #9d8665;
}

.header__menu-link:active {
	color: #7e6c51;
}

/* Welcome section */

.welcome {
	padding: 0;
}

.welcome .section-title {
	margin-bottom: 0;
}

.welcome-row {
	position: relative;

	display: flex;
	min-height: 810px;
}

.welcome-body {
	z-index: 2;

	max-width: 600px;
	margin-top: 150px;

	color: #ffffff;
}

.welcome-subtitle {
	margin: 25px 0 75px;

	font-weight: 300;
	font-size: 28px;
	letter-spacing: 2px;
}

.welcome-link {
	display: inline-block;
	width: 360px;
	height: 75px;

	font-weight: 300;
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 75px;
	text-align: center;

	border-radius: 10px;
	background-color: #710707;

	transition: background-color 0.3s;
}

	.welcome-link:hover {
		background-color: #9d8665;
	}

.welcome-slider {
	position: absolute;
	right: 0;
	top: 0;
}

.welcome-slider::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.welcome-slider__slider {
}

.welcome-slider__item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.welcome-slider__pagination {
	position: absolute;
	bottom: -60px;
	right: 0;
	z-index: 1;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 75px;

	color: #ffffff;
	background-color: #030303;
}

.welcome-slider__position {
	display: flex;
	justify-content: space-between;
	width: 75px;
	margin-right: 55px;

	font-weight: 400;
	font-size: 22px;
	line-height: 40px;
	text-transform: uppercase;
}

.welcome-slider__dots {
	display: flex;
	justify-content: space-between;
	margin-right: 35px;
}

.welcome-slider__dot {
	width: 16px;
	height: 16px;
	margin-right: 25px;

	background-color: #fff;

	transition: background-color 0.3s;
}

.welcome-slider__dot:hover {
	background-color: #9D8665;
}

.welcome-slider__arrows {
}

.arrow {
	width: 30px;
	height: 10px;

	transition: filter 0.3s;
}

.arrow:hover {
	filter: invert(58%) sepia(37%) saturate(323%) hue-rotate(356deg) brightness(86%) contrast(86%);
}

.welcome-slider__arrow-prev {
	margin-right: 14px;

	background: url(assets/svg/arrows/1.svg) no-repeat;
}
.welcome-slider__arrow-next {
	background: url(assets/svg/arrows/2.svg) no-repeat;
}

.welcome-slider--active-btn {
	background-color: #d2b183;
}

/* Visiting Section */

.visiting-title {
	margin: 75px 0 100px;
}

.visiting-cards__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 75px 60px;
}

.visiting-cards__item {
}

.card-item {
	display: block;
}

.card-item__img {
	margin-bottom: 25px;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.card-item__title {
	position: relative;

	margin-bottom: 22px;

	font-family: Forum;
	font-size: 32px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.card-item__title::after {
	content: '';
	position: absolute;
	top: 45px;
	left: 0;

	height: 2px;
	width: 70%;

	background-color: #710707;

	transition: width 0.3s;
}

.card-item:hover .card-item__title::after {
	width: 100%;
}

.card-item__text p {
	margin-bottom: 10px;

	font-weight: 200;
	font-size: 22px;
}

.card-item__text p:last-child {
	margin-bottom: 0;

	font-size: 18px;
}

/* explore section */

.explore__row {
	display: flex;
}

.explore__body {
	margin-right: 60px;

	color: #fff;
}

.explore__title {
	margin: 75px 0 100px;
}

.explore__text {
	font-size: 22px;
	font-weight: 300;
	line-height: 38.5px;
}

.explore__text p {
	margin-bottom: 25px;
}

.explore__text span {
	color: #caaa7d;
}

.explore__text p:last-child {
	margin-bottom: 0;
}

.explore__img-block {
	position: relative;

	margin-top: 15px;
}

.explore__before-container {
	position: absolute;
	z-index: 1;

	width: 61.111%;
	height: 100%;
	overflow: hidden;
}

.explore__shutter {
	position: absolute;
	top: 0;
	left: 61.111%;
	z-index: 1;

	cursor: pointer;
	transform: translateX(-50%);
}

/* video section */

.video-section__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.video-section__top .section-title {
	margin: 0;
}

.video-section__text {
	max-width: 720px;
	margin-left: 100px;

	font-size: 22px;
	font-weight: 300;
	line-height: 38.5px;
}

.video-section__video {
	position: relative;
	width: 100%;
	height: 735px;
	margin-bottom: 40px;

}

.video-section__video video {
	width: 100%;
  height: 100%;
	object-fit: cover;

}

.video__play-btn {
	width: 0;
	height: 0;

	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 23px solid #b3b3b3;
	cursor: pointer;

	transition: border-left-color 0.3s;
}

.video__play-btn:hover {
	border-left-color: #989898;
}

.video__play-btn--big {
	position: absolute;
	top: 44.1%;
	left: 50.8%	;

	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 90px solid #ffffff;

	background-color: transparent;
	transform: translateX(-50%) translateY(-50%);
}

.video__play-btn--big::before {
	content: '';
	position: absolute;

	width: 220px;
	height: 220px;
	border: 10px solid #ffffff;
	border-radius: 50%;

	transform: translateX(-75%) translateY(-50%);
	transition: border-color 0.3s;
}

.video__play-btn--big:hover::before {
	border-color: #989898;
}

.video__player {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;

	display: flex;
	align-items: center;
	column-gap: 50px;
	width: 100%;
	height: 85px;
	padding: 25px 30px;

	background-color: #000000;
}

.progress {
  height: 8px;
	width: 930px;

  background: linear-gradient(to right, #710707 0%, #710707 54%, #c4c4c4 54%, #c4c4c4 100%);
  appearance: none;
  cursor: pointer;
}

.progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;

  background: #ffffff;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
}

.video__volume {
	width: 40px;
	height: 30px;

	background: url("assets/svg/video-slider/volume.svg") no-repeat;
	cursor: pointer;

	transition: filter 0.3s;
}

.video__volume:hover {
	filter: invert(65%) sepia(8%) saturate(231%) hue-rotate(22deg) brightness(135%) contrast(89%);
}

.volume-progress {
	width: 155px;

  background: linear-gradient(to right, #710707 0%, #710707 43%, #c4c4c4 43%, #c4c4c4 100%);
}

.video__full {
	width: 35px;
	height: 35px;

	background: url("assets/svg/video-slider/full.svg");
	cursor: pointer;

	transition: filter 0.3s;
}

.video__full:hover {
	filter: invert(65%) sepia(8%) saturate(231%) hue-rotate(22deg) brightness(135%) contrast(89%);
}

.video-slider__slider {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;

}

.video-slider__item {
	width: 450px;

	aspect-ratio: 16 / 9;
}

.video-slider__item iframe {
	width: 100%;
	height: 100%;
}

.video-slider__pagination {
	display: flex;
	justify-content: space-between;
	max-width: 200px;
	margin: 0 auto;
}

.video-slider__pagination>button {
	width: 12px;
	height: 12px;

	transition: filter 0.3s, background-color 0.3s;
}

.video-slider__prev {
	background: url("assets/svg/video-slider/prev.svg") no-repeat;
}

.video-slider__next {
	background: url("assets/svg/video-slider/next.svg") no-repeat;
}

.video-slider__prev:hover,
.video-slider__next:hover {
	filter: invert(14%) sepia(64%) saturate(32115%) hue-rotate(351deg) brightness(40%) contrast(115%);
}


.video-slider__dot {
	border-radius: 50%;
	background-color: #999999;
}

.video-slider__dot:hover {
	background-color: #710707;
}

.video-slider--active-btn {
	background-color: #333333;
}

/* gallery section */

.gallery {
	position: relative;

	height: 2200px;
	overflow: hidden;
}

.gallery::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 16%;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.gallery__container {
	column-count: 3;
	column-gap: 36px;
}

.gallery__img {
	margin-bottom: 24px;
}

.gallery__img:nth-child(1),
.gallery__img:nth-child(11) {
	padding-top: 50px;
}

.gallery__img img {
	width: 100%;
	object-fit: cover;
}

/* tickets section */

.tickets__title {
	margin: 75px 0 100px;
}

.tickets__row {
	display: flex;
	justify-content: space-between;
	padding-top: 3px;
}

.tickets__img {
	margin-right: 60px;
}

.tickets__form {
	display: flex;
	justify-content: space-between;
	flex: 1 1 auto;
}

.form {
}

.form__ticket-type {
}

.form__title {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 25px;
}

.form__radio-list-item {
	margin-top: 25px;
}

.form__radio {

	appearance: none;
}

.form__radio::before {
	content: '';
	position: absolute;
	top: 5px;
	left: 0;

	width: 17px;
	height: 17px;

	border: 2px solid #000;
	border-radius: 50%;
}

.form__radio:checked::after {
	content: '';
	position: absolute;
	top: 10px;
	left: 5px;

	width: 7px;
	height: 7px;

	background-color: #000000;
	border-radius: 50%;
}

.form__label {
	position: relative;

	font-size: 22px;
	font-weight: 300;

	text-align: left;
}

.form__ticket-type .form__label {
	padding-left: 35px;
}

.form__amount {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}

.form__amount-counter {
	display: flex;
	justify-content: space-between;
	max-width: 150px;
	margin: 14px 0 10px;
	padding: 3px 10px;

	font-weight: 400;
	font-size: 32px;
	text-align: center;

	border: 3px solid #000;
}

.form__amount-btn {
	font: inherit;

	background-color: transparent;
}

.decrease-btn {
}

.form__count {
	width: 100%;
	margin: 0 5px;

	text-align: center;
	font-size: 22px;
	font-weight: 300;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.increase-btn {
}

.form__total {
	margin: 40px 0 60px;

	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1.65px;
}

.form__btn {
	padding: 11px 38px;

	color: #ffffff;
	text-align: center;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 2px;

	border-radius: 2px;
	background: #000;
}

/* parallax */

.parallax {
	width: 100%;
	height: 400px;
	background: url("assets/img/parallax.jpg") fixed;
	background-size: cover;
}

/* contacts section */

.contacts__row {
	display: flex;
	justify-content: space-between;
}

.contacts__title {
	margin-top: 75px;
}

.contacts__body {
}

.contacts__museum-name {
	margin-bottom: 50px;

	font-size: 28px;
	font-weight: 500;
}

.contacts__list {
	font-size: 22px;
	font-weight: 300;
}

.contacts__list-item {
	margin-bottom: 25px;
}

.contacts__list-item a {
	transition: color 0.3s;
}

.contacts__list-item a:hover {
	color: #9d8665;
}

.contacts__list-item:last-child {
	margin-bottom: 0;
}

.contacts__map {
}

/* footer */

.footer {
	position: relative;

	font-size: 22px;
	font-weight: 200;
	letter-spacing: 2px;
}

.footer::after {
	content: '';
	position: absolute;
	left: 0;
	top: 268px;

	width: 100%;
	height: 3px;

	background-color: #666666;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 90px 0 50px;
}

.footer__top .logo {
	align-self: start;
}

.footer__secondary-nav {
	display: flex;
	column-gap: 145px;
}

.footer__nav-block {
	width: 107px;
}

.footer__nav-block-item {
	margin-bottom: 25px;
}

.footer__nav-block-item a {
	transition: color 0.3s;
}

.footer__nav-block-item a:hover {
	color: #9D8665;
}

.footer__nav-block-item:last-child {
	margin-bottom: 0;
}

.footer__soc-media {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 25px;
	padding-bottom: 5px;
}

.footer__soc-media-item a {
	display: block;
	width: 48px;
	height: 48px;

	border: 1px solid #666666;
	border-radius: 50%;

	transition: filter 0.3s;
}

.footer__soc-media-item a:hover {
	filter: invert(58%) sepia(37%) saturate(323%) hue-rotate(356deg) brightness(86%) contrast(86%);

}

.youtube-icon {
	background: url("assets/svg/soc-media/1.svg") center no-repeat;
}

.instagram-icon {
	background: url("assets/svg/soc-media/2.svg") center no-repeat;
}

.facebook-icon {
	background: url("assets/svg/soc-media/3.svg") center no-repeat;
}

.twitter-icon {
	background: url("assets/svg/soc-media/4.svg") center no-repeat;
}

.pinterest-icon {
	background: url("assets/svg/soc-media/5.svg") center no-repeat;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
}

.footer__bottom a {
	transition: color 0.3s;
}


.footer__bottom a:hover {
	color: #9D8665;
}

.footer__date {

}

.footer__school {
	padding-left: 30px;
}

.footer__username {
}